doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title weather app
  body
    header 
      .logo
      h1 Weather App
      .search
        input(type="text" class='city' id='city' placeholder='Enter a city')
        button(class='weather-btn') search
    .response
      button.units.celcius 
        span.c &#x2103
        span  / 
        span.f &#x2109
      .details
        span.temp.var
        .more
          img.icon(src='./static/weather.png')
          span.unit
      .location
      .description
    .alert
    .forecast 
      table
        tr
          th day 
          th temperature
          th icon
          th description